# BigQuery connector configuration options

All the configuration options are listed below in alphabetical order.

#foreach ($configKey in ${extendedConfigDef.configKeys})
    #set($parents = ${extendedConfigDef.parents(${configKey.name})})

${esc.hash}${esc.hash} ${configKey.displayName}

  #if (${configKey.isDeprecated})
**${configKey.deprecated}**
  #end

 - Configuration option: ${configKey.name}

 #if ($stringUtils.isNotEmpty(${configKey.since}))
 - Since: ${configKey.since}
 #end

 - Default value: ${configKey.getDefaultValue()|"none"}
 - Type:  $configKey.type
 #if (${configKey.validator})
 - Valid values:  ${configKey.validator|"no restrictions"}
 #end
 - Importance: $configKey.importance
 #if (!$parents.isEmpty)
 - Options that influence if or how this option can be used:

   #foreach ($p in $parents)
   - ${p.name}

   #end

 #end

 #if (!${section.dependents.isEmpty})

 - Options that this option influences:

   #foreach ($p in ${section.dependents})
   - ${p}

   #end

 #end

    ${bigquery.markdownEscape(${section.documentation})}

#end
