# BigQuery connector configuration options

All the configuration options are listed below in alphabetical order.

#foreach ($section in ${bigquery.options})
    #set($parents = ${bigquery.parents(${section.name})})

${esc.hash}${esc.hash} ${section.displayName}

 - Configuration option: ${section.name}
 - Default value: ${section.getDefaultValue()|"none"}
 - Type:  $section.type
 #if (${section.validator})
 - Valid values:  ${section.validator|"no restrictions"}
 #end
 - Importance: $section.importance
 #if (!$parents.isEmpty)
 - Options that influence if or how this option can be used:

   #foreach ($p in $parents)
   - ${p.name}

   #end

 #end

 #if (!${section.dependents.isEmpty})

 - Options that this option influences:

   #foreach ($p in ${section.dependents})
   - ${p}

   #end

 #end

    ${bigquery.markdownEscape(${section.documentation})}

#end
